header {
    width: 658px;
    height: 120px;
    padding: 20px 391px 20px 391px;
    background: #2DC8F9; 
    text-align: center;
    vertical-align: middle;
}
footer {
    width: 658px;
    height: 50px;
    padding: 20px 391px 20px 391px;
    background:#000000;
    color: #FFFFFF;
    text-align: center;
    
}
.nav {
    width: 1410px;
    height: 74px;
    background: #018DBA;
    justify-content: space-around;
    display: flex;
    padding: 15px;
    vertical-align: middle;
    min-width: 1410px;
}
.nav t{
    font-size: 20px;
    color:white;
}
.nav t:hover{
    color: orange;
}
.x {
    width: 300px;
    height: 281px;
    background: #FFFFFF;
    padding: 30px;
    display: flex;
    border: 10px solid #868484;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.x img{
    width: 170px;
    height: 170px;
}
.x bu {
    width: 300px;
    justify-content: center;
    height: 120px;
    background: #018DBA;
    border-radius: 15px;
    text-align: center;
}
.k {
    width: 1440px;
    height: 1852px;
    background: #868484;
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #016caa;
    text-align: center;
    font-family: "Sansita One", sans-serif;
    color: white;
    height: 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
}
.btn:hover{
    background-color: #065b8c;
}